# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4c942c2c482980aaf5ec5ccc4d7b30676f51136ede77d119623bfc359bb5d08f19f418876df912b72bd680f81e25e9f2b43a6c80f0b88e1d2994ae50ad7a09e4

test:
  secret_key_base: 4a0b1bdcba9f03f0878968fd0f6aff4d7d44798e3d13ea77093c1c1a4ef7ff60abe833de175dff9e504bdffaf9647bc65f7a556f2054d7197575a0c03dd0d5dd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
