<p id="notice"><%= notice %></p>

<span style="display: inline-block;">
  <strong>Name:</strong>
  <%= @board.name %>, <div id="note_counter"></div> notes </span>
  
  <div id="trash">Drop here to delete</div> <%= render 'note_form' %>


<div id="board-div"></div>

<%= link_to 'Edit Board', edit_board_path(@board) %>
