<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>, <%= @board.notes.count %> notes, 
</p>

<div id="board-div"></div>

<%= link_to 'Edit Board', edit_board_path(@board) %>
